<div class="row">
    <div class="col-10">
        <!-- blank for spacing -->
    </div>
    <div class="col-2">
        <div *ngFor="let x of logfile.notificaitons">
            {{x}}
        </div>
    </div>
        <div class="col-10">
            <!-- blank for spacing -->
        </div>
        <div class="col-2">
            <button *ngIf="logfile.notificaitons.length > 0" (click)="logfile.clearNotifications()" class="btn btn-info btn-sm">Clear Log</button>
        </div>
</div>
