<div class="container">

    <div class="row">
        <div class="col-4" *ngFor="let x of noteList_editComponent" (click)="select(x)">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        {{x.id}}
                    </div>
                    <div class="card-body">
                        {{x.title}}
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<hr>
<!-- --------------------------------------------------------------------------------------------- -->
<div class="container" *ngIf="editID">
    <div class="row my-2">
        <div class="col-3 text-right">
            <label for="title">Title: </label>
        </div>
        <div class="col-9">
            <input type="text" placeholder="Title" id="title" name="title" [(ngModel)]="editTitle" class="form-control">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-3 text-right">
            <label for="comment">Note: </label>
        </div>
        <div class="col-9">
            <textarea name="comment" id="comment" class="textbox"  [(ngModel)]="editContents"></textarea>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-2">
            <!-- blank for spacing -->
        </div>
        <div class="col-1 text-center">
            <span>Tag 1 </span> <input type="checkbox" name="category" id="category" value="A" [(ngModel)]="tag1">
        </div>
        <div class="col-1 text-center">
            <span>Tag 2 </span> <input type="checkbox" name="category" id="category" value="B" [(ngModel)]="tag2">
        </div>
        <div class="col-1 text-center">
            <span>Tag 3 </span> <input type="checkbox" name="category" id="category" value="C" [(ngModel)]="tag3">
        </div>
        <div class="col-1 text-center">
            <span>Tag 4 </span> <input type="checkbox" name="category" id="category" value="D" [(ngModel)]="tag4">
        </div>
        <div class="col-6">
            <!-- blank for spacing -->
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-center">
            <button [ngClass]="!editContents || !editTitle ? 'btn btn-outline-dark btn-lg' : 'btn btn-warning btn-lg'" [disabled]="!editContents || !editTitle" (click)="confirm()">Edit Note</button>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------------------------------------- -->
