
<div class="center">
    <div class="mat-display-1">Notepad App</div>
</div>
<!-- <hr>
<app-input-component></app-input-component>
<hr>
<app-output-component></app-output-component>
<hr>
<app-delet-this></app-delet-this>
<hr> -->