<div class="container">
    <div class="row p-3" >
        <div class="col-6" *ngFor="let x of noteList_outputComponent">
            <div class="row">
                <div class="col border1"><span>Title: </span><span>{{x.title}}</span></div>
                <div class="col border1"><span>ID: </span><span>{{x.id}}</span></div>
            </div>
            <div class="row">
                <div class="col-12 border1"><span>{{x.note}}</span></div>
            </div>
            <div class="row" *ngIf="x.category.length">
                <div class="col border1" *ngFor="let y of x.category">
                    <div class="card">
                        <div class="card-header text-center">
                            <span>{{y}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!x.category.length">
                <div class="col border1">
                    <div class="card">
                        <div class="card-header text-center">
                            <span>uncategorized</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>