<div class="row">
    <div class="col-12 text-center">
        <a class="btn btn-success btn-outline-warn" routerLink="/Create" role="button">Add Note</a> &nbsp;&nbsp;
        <a class="btn btn-success btn-outline-warn" routerLink="/Read" role="button">View Notes</a> &nbsp;&nbsp;
        <a class="btn btn-success btn-outline-warn" routerLink="/Update" role="button">Edit Notes</a> &nbsp;&nbsp;
        <a class="btn btn-success btn-outline-warn" routerLink="/Destroy" role="button">Delete Note</a>
    </div>
</div>

<router-outlet></router-outlet>

<app-log></app-log>