<div class="container p-2">
    <div class="row my-2">
        <div class="col-3 text-right">
            <label for="title" class="medium">Title: </label>
        </div>
        <div class="col-9">
            <input type="text" placeholder="Title" id="title" name="title" [(ngModel)]="titleInput" class="form-control">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-3 text-right">
            <label for="comment" class="medium">Note: </label>
        </div>
        <div class="col-9">
            <textarea name="comment" id="comment" class="textbox"  [(ngModel)]="noteInput"></textarea>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-2">
            <!-- blank for spacing -->
        </div>
        <div class="col-1 text-center">
            <span class="small">Tag 1 </span> <input type="checkbox" name="category" id="category" value="A" [(ngModel)]="tag1">
        </div>
        <div class="col-1 text-center">
            <span class="small">Tag 2 </span> <input type="checkbox" name="category" id="category" value="B" [(ngModel)]="tag2">
        </div>
        <div class="col-1 text-center">
            <span class="small">Tag 3 </span> <input type="checkbox" name="category" id="category" value="C" [(ngModel)]="tag3">
        </div>
        <div class="col-1 text-center">
            <span class="small">Tag 4 </span> <input type="checkbox" name="category" id="category" value="D" [(ngModel)]="tag4">
        </div>
        <div class="col-6">
            <!-- blank for spacing -->
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-center">
            <button [ngClass]="!noteInput || !titleInput ? 'btn btn-outline-dark btn-lg' : 'btn btn-primary btn-lg'" [disabled]="!noteInput || !titleInput" (click)="submit()">Add Note</button>
        </div>
    </div>
</div>