<div class="container">

    <div class="row">
        <div class="col-4" *ngFor="let x of noteList_deleteComponent" (click)="select(x)">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        {{x.id}}
                    </div>
                    <div class="card-body">
                        {{x.title}}
                    </div>
                </div>    
            </div>
        </div>
    </div>

<hr>

<div class="row" *ngIf="selectedID">
    <div class="col text-center">
        <span class="large">Selected note ID: {{selectedID}}</span>
    </div>
    <div class="col text-center">
        <button [ngClass]="!selectedID ? 'btn btn-outline-dark btn-lg' : 'btn btn-danger btn-lg'" [disabled]="!selectedID" (click)="removeNote()">Delete selected post</button>
    </div>
</div>

</div>